[submodule "SDL"]
	path = SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "SDL_ttf"]
	path = SDL_ttf
	url = git@github.com:libsdl-org/SDL_ttf.git
[submodule "freetype"]
	path = freetype
	url = git@github.com:freetype/freetype.git
[submodule "zlib"]
	path = zlib
	url = git@github.com:madler/zlib.git
[submodule "libpng"]
	path = libpng
	url = git@github.com:glennrp/libpng.git
[submodule "bzip2"]
	path = bzip2
	url = git://sourceware.org/git/bzip2.git
[submodule "brotli"]
	path = brotli
	url = git@github.com:google/brotli.git
[submodule "harfbuzz"]
	path = harfbuzz
	url = git@github.com:harfbuzz/harfbuzz.git
